In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('funcionarios_dados_ti.csv', sep= ';')
df

,Nome,Cargo,Salario,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Ana Souza,Cientista de Dados,12000,NaN,NaN,NaN,NaN,NaN
1,Bruno Lima,Engenheiro de Dados,11500,NaN,NaN,NaN,NaN,NaN
2,Carla Mendes,Analista de BI,10500,NaN,NaN,NaN,NaN,NaN
3,Daniel Rocha,Engenheiro de Machine Learning,13000,NaN,NaN,NaN,NaN,NaN
4,Elisa Martins,Analista de Dados,9800,NaN,NaN,NaN,NaN,NaN
5,Felipe Andrade,Arquiteto de Dados,13500,NaN,NaN,NaN,NaN,NaN
6,Gabriela Torres,Engenheira de Dados,11800,NaN,NaN,NaN,NaN,NaN
7,Henrique Silva,Cientista de Dados JÃºnior,10200,NaN,NaN,NaN,NaN,NaN
8,Isabela Ferreira,Analista de BI Pleno,10800,NaN,NaN,NaN,NaN,NaN
9,JoÃ£o Pedro Ramos,Engenheiro de Dados SÃªnior,14000,NaN,NaN,NaN,NaN,NaN
10,Karina Oliveira,Especialista em Big Data,12500,NaN,NaN,NaN,NaN,NaN
11,Lucas Almeida,Analista de Dados JÃºnior,9700,NaN,NaN,NaN,NaN,NaN
12,Mariana Costa,Cientista de Dados Pleno,11000,NaN,NaN,NaN,NaN,NaN
13,Nelson Barros,Engenheiro de Dados JÃºnior,10100,NaN,NaN,NaN,NaN,NaN
14,Olivia Nascimento,Analista de BI SÃªnior,10900,NaN,NaN,NaN,NaN,NaN
15,Paulo Henrique,Arquiteto de SoluÃ§Ãµes de Dados,13200,NaN,NaN,NaN,NaN,NaN
16,QuÃ©sia Duarte,Cientista de Dados SÃªnior,14500,NaN,NaN,NaN,NaN,NaN
17,Rafael Teixeira,Engenheiro de Dados Pleno,11900,NaN,NaN,NaN,NaN,NaN
18,Sabrina Lopes,Analista de Dados Pleno,9900,NaN,NaN,NaN,NaN,NaN
19,Tiago Moreira,Especialista em Dados,12700,NaN,NaN,NaN,NaN,NaN

In [ ]:
df

In [9]:
salario_array = np.array(df["Salario"])

In [11]:
mediana = np.median(salario_array)
media = np.mean(salario_array)
q1 = np.percentile(salario_array, 25)
q2 = np.percentile(salario_array, 50)
q3 = np.percentile (salario_array, 75)
distancia = (media - mediana)/mediana
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia*100,2)} %')

Média: 11675.0
Mediana: 11650.0
Distância: 0.21 %

Atividade prática 1
Qual delegacia destoa das demais no que diz respeito a ocorrências relacionadas a furto e roubo de veículos na Capital?

In [12]:
ocorrencias = pd.read_csv('BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding= 'latin1')
ocorrencias

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36487,159,7,2025,2025m07,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,2.0,2.0,17,0,0,0,0,0,134,2
36488,165,7,2025,2025m07,33,5,Mangaratiba,3302601,Interior,0,...,8.0,0.0,31,3,0,0,0,0,207,2
36489,166,7,2025,2025m07,33,5,Angra dos Reis,3300100,Interior,1,...,6.0,1.0,59,7,0,0,0,0,584,2
36490,167,7,2025,2025m07,43,5,Paraty,3303807,Interior,0,...,8.0,0.0,18,3,1,0,0,0,187,2
36491,168,7,2025,2025m07,28,5,Rio Claro,3304409,Interior,0,...,3.0,0.0,14,0,0,0,0,0,56,2

In [14]:
ocorrencias_capital = ocorrencias.loc[ocorrencias['regiao']== 'Capital']
ocorrencias_capital.sort_values(by="regiao")

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
24292,6,3,2018,2018m03,4,1,Rio de Janeiro,3304557,Capital,3,...,5.0,2.0,27,2,0,0,0,0,590,3
24293,7,3,2018,2018m03,5,1,Rio de Janeiro,3304557,Capital,2,...,4.0,0.0,8,1,0,0,0,0,235,3
24294,9,3,2018,2018m03,2,1,Rio de Janeiro,3304557,Capital,2,...,14.0,4.0,33,2,0,0,0,0,901,3
24295,10,3,2018,2018m03,2,1,Rio de Janeiro,3304557,Capital,1,...,6.0,0.0,25,1,0,0,0,0,817,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12114,27,10,2010,2010m10,9,2,Rio de Janeiro,3304557,Capital,3,...,3.0,0.0,78,3,0,0,0,0,847,3
12115,28,10,2010,2010m10,9,2,Rio de Janeiro,3304557,Capital,7,...,3.0,0.0,60,4,0,0,0,0,577,3
12116,29,10,2010,2010m10,9,2,Rio de Janeiro,3304557,Capital,8,...,2.0,0.0,38,5,0,0,0,0,715,3
12108,21,10,2010,2010m10,22,1,Rio de Janeiro,3304557,Capital,6,...,11.0,0.0,32,12,0,0,0,0,809,3
36395,44,7,2025,2025m07,3,1,Rio de Janeiro,3304557,Capital,1,...,5.0,4.0,27,2,0,0,0,0,829,2

In [29]:
ocorrencias_capital['oc_veiculos'] = ocorrencias_capital['roubo_veiculo'] + ocorrencias_capital['furto_veiculos']
ocorrencias_capital

C:\Users\Steffani.Oliveira\AppData\Local\Temp\ipykernel_78052\1616238293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocorrencias_capital['oc_veiculos'] = ocorrencias_capital['roubo_veiculo'] + ocorrencias_capital['furto_veiculos']

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase,soma,oc_veiculos
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,21,2,0,0,0,0,578,3,17,17
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,15,6,0,1,0,0,441,3,18,18
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,47,2,1,0,0,0,637,3,39,39
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,26,2,1,0,0,0,473,3,44,44
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,10,1,3,0,0,0,147,3,35,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36391,40,7,2025,2025m07,9,2,Rio de Janeiro,3304557,Capital,3,...,25,2,0,0,0,0,598,2,72,72
36392,41,7,2025,2025m07,18,2,Rio de Janeiro,3304557,Capital,1,...,38,8,0,0,0,0,786,2,17,17
36393,42,7,2025,2025m07,31,2,Rio de Janeiro,3304557,Capital,0,...,75,2,0,0,0,0,1384,2,41,41
36394,43,7,2025,2025m07,27,2,Rio de Janeiro,3304557,Capital,0,...,86,9,1,0,0,0,671,2,23,23
36395,44,7,2025,2025m07,3,1,Rio de Janeiro,3304557,Capital,1,...,27,2,0,0,0,0,829,2,51,51

In [30]:
ocorrencias_veiculos = ocorrencias_capital.groupby('cisp')['oc_veiculos'].sum().reset_index()   
ocorrencias_veiculos

    cisp  oc_veiculos
0      1         2487
1      4         3364
2      5         4297
3      6         6732
4      7         3910
5      9        12636
6     10         9615
7     11          179
8     12         2365
9     13         1466
10    14         3460
11    15         3060
12    16        18043
13    17        11163
14    18        11143
15    19        10111
16    20        13177
17    21        25101
18    22        22756
19    23        15172
20    24        14372
21    25        12602
22    26        10318
23    27        38630
24    28        14334
25    29        21314
26    30        17629
27    31        17424
28    32        13616
29    33        25677
30    34        36695
31    35        33062
32    36         9988
33    37        12866
34    38        25775
35    39        32183
36    40        22188
37    41        10098
38    42         9917
39    43         4378
40    44        17013
41    45           78

In [31]:
oc_veiculos_array = np.array(ocorrencias_veiculos["oc_veiculos"])

In [32]:
mediana = np.median(oc_veiculos_array)
media = np.mean(oc_veiculos_array)
q1 = np.percentile(oc_veiculos_array, 25)
q2 = np.percentile(oc_veiculos_array, 50)
q3 = np.percentile (oc_veiculos_array, 75)
distancia = (media - mediana)/mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia*100,2)} %')

Média: 13818.904761904761
Mediana: 12619.0
Distância: 9.51 %

In [34]:
veiculos_outliers = ocorrencias_veiculos.loc[ocorrencias_veiculos['oc_veiculos'] >= limite_superior]
veiculos_outliers.sort_values(by="oc_veiculos", ascending= False)

    cisp  oc_veiculos
23    27        38630

Atividade prática 2
Na última década, algum município da região metropolitana pode ser considerado outlier sobre as ocorrências de furto de veículos?

In [35]:
ocorrencias1 = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioTaxaAno.csv', sep= ';', encoding= 'latin1')
ocorrencias1

,fmun_cod,fmun,ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,hom_por_interv_policial,letalidade_violenta,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,Interior,"40,55",0,"0,54","41,09","1,08","42,18",...,"87,6","2,16","510,44","49,75","4,33",0,0,0,"3256,19",3
1,3300100,Angra dos Reis,2015,Interior,"48,86",0,0,"48,86","6,9","55,77",...,"77,55","3,19","477,49","39,3","1,59",0,0,0,"3037,56",3
2,3300100,Angra dos Reis,2016,Interior,"44,39","0,52","0,52","45,43","3,66","49,09",...,"65,27","7,31","341,51","40,21","4,7",0,0,0,"2858,43",3
3,3300100,Angra dos Reis,2017,Interior,"44,7",0,0,"44,7","13,36","58,06",...,"101,22","2,57","230,71","27,75","3,08","0,51",0,0,"2321,97",3
4,3300100,Angra dos Reis,2018,Interior,"65,87",0,"0,5","66,36","25,45","91,81",...,"84,33","6,49","221,05","25,95","5,99","0,5","2,22",0,"2292,83",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,3306305,Volta Redonda,2016,Interior,"24,65",0,0,"24,65","1,52","26,17",...,"87,23","6,83","348,56","17,07","4,93",0,0,0,"3021,33",3
640,3306305,Volta Redonda,2017,Interior,"23,76",0,"0,38","24,13","0,75","24,89",...,"87,86","5,66","243,21","14,33","3,02",0,0,0,"2459,27",3
641,3306305,Volta Redonda,2018,Interior,"26,47","0,37","0,74","27,57","2,94","30,51",...,"85,29","1,84","303,68","13,97","1,84",0,0,0,"2638,62",3
642,3306305,Volta Redonda,2019,Interior,"32,6","0,37",0,"32,97","3,3","36,26",...,"91,94","2,2","318,67","34,8","1,1","0,37","2,26",0,"2974,96",3
643,3306305,Volta Redonda,2020,Interior,"25,55",0,"0,36","25,91","5,11","31,02",...,"78,84","0,73","302,2","22,63","1,09",0,"2,26",0,"2798,3",3

In [42]:
furto_veiculos = ocorrencias1.groupby('fmun')['furto_veiculos'].sum().reset_index()   
furto_veiculos

                  fmun                              furto_veiculos
0       Angra dos Reis    283,18281,18306,43201,79171,28132,7868,4
1              Aperibé                                     -------
2             Araruama   322,98311,57221,8167,33189,07185,26195,24
3                Areal                                     -------
4   Armação dos Búzios                                     -------
..                 ...                                         ...
87           Três Rios      134,88223,62140,23113,8105,2888,450,87
88             Valença        113,0557,3184,6965,6375,7542,1569,92
89           Varre-Sai                                     -------
90           Vassouras                                     -------
91       Volta Redonda  176,53176,68193,42153,54189,19186,09150,55

[92 rows x 2 columns]

In [39]:
furto_veiculos_array = np.array(furto_veiculos["furto_veiculos"])

In [40]:
mediana = np.median(furto_veiculos_array)
media = np.mean(furto_veiculos_array)
q1 = np.percentile(furto_veiculos_array, 25)
q2 = np.percentile(furto_veiculos_array, 50)
q3 = np.percentile (furto_veiculos_array, 75)
distancia = (media - mediana)/mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia*100,2)} %')

TypeError: ufunc 'divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''