In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('funcionarios_dados_ti.csv', sep= ';')
df

,Nome,Cargo,Salario,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Ana Souza,Cientista de Dados,12000,NaN,NaN,NaN,NaN,NaN
1,Bruno Lima,Engenheiro de Dados,11500,NaN,NaN,NaN,NaN,NaN
2,Carla Mendes,Analista de BI,10500,NaN,NaN,NaN,NaN,NaN
3,Daniel Rocha,Engenheiro de Machine Learning,13000,NaN,NaN,NaN,NaN,NaN
4,Elisa Martins,Analista de Dados,9800,NaN,NaN,NaN,NaN,NaN
5,Felipe Andrade,Arquiteto de Dados,13500,NaN,NaN,NaN,NaN,NaN
6,Gabriela Torres,Engenheira de Dados,11800,NaN,NaN,NaN,NaN,NaN
7,Henrique Silva,Cientista de Dados JÃºnior,10200,NaN,NaN,NaN,NaN,NaN
8,Isabela Ferreira,Analista de BI Pleno,10800,NaN,NaN,NaN,NaN,NaN
9,JoÃ£o Pedro Ramos,Engenheiro de Dados SÃªnior,14000,NaN,NaN,NaN,NaN,NaN
10,Karina Oliveira,Especialista em Big Data,12500,NaN,NaN,NaN,NaN,NaN
11,Lucas Almeida,Analista de Dados JÃºnior,9700,NaN,NaN,NaN,NaN,NaN
12,Mariana Costa,Cientista de Dados Pleno,11000,NaN,NaN,NaN,NaN,NaN
13,Nelson Barros,Engenheiro de Dados JÃºnior,10100,NaN,NaN,NaN,NaN,NaN
14,Olivia Nascimento,Analista de BI SÃªnior,10900,NaN,NaN,NaN,NaN,NaN
15,Paulo Henrique,Arquiteto de SoluÃ§Ãµes de Dados,13200,NaN,NaN,NaN,NaN,NaN
16,QuÃ©sia Duarte,Cientista de Dados SÃªnior,14500,NaN,NaN,NaN,NaN,NaN
17,Rafael Teixeira,Engenheiro de Dados Pleno,11900,NaN,NaN,NaN,NaN,NaN
18,Sabrina Lopes,Analista de Dados Pleno,9900,NaN,NaN,NaN,NaN,NaN
19,Tiago Moreira,Especialista em Dados,12700,NaN,NaN,NaN,NaN,NaN

In [ ]:
df

In [11]:
mediana = np.median(salario_array)
media = np.mean(salario_array)
q1 = np.percentile(salario_array, 25)
q2 = np.percentile(salario_array, 50)
q3 = np.percentile (salario_array, 75)
distancia = (media - mediana)/mediana
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia*100,2)} %')

Média: 11675.0
Mediana: 11650.0
Distância: 0.21 %

Atividade prática 1
Qual delegacia destoa das demais no que diz respeito a ocorrências relacionadas a furto e roubo de veículos na Capital?

In [4]:
ocorrencias = pd.read_csv('BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding= 'latin1')
ocorrencias

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36487,159,7,2025,2025m07,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,2.0,2.0,17,0,0,0,0,0,134,2
36488,165,7,2025,2025m07,33,5,Mangaratiba,3302601,Interior,0,...,8.0,0.0,31,3,0,0,0,0,207,2
36489,166,7,2025,2025m07,33,5,Angra dos Reis,3300100,Interior,1,...,6.0,1.0,59,7,0,0,0,0,584,2
36490,167,7,2025,2025m07,43,5,Paraty,3303807,Interior,0,...,8.0,0.0,18,3,1,0,0,0,187,2
36491,168,7,2025,2025m07,28,5,Rio Claro,3304409,Interior,0,...,3.0,0.0,14,0,0,0,0,0,56,2

In [5]:
ocorrencias_capital = ocorrencias.loc[ocorrencias['regiao']== 'Capital']
ocorrencias_capital.sort_values(by="regiao")

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
24292,6,3,2018,2018m03,4,1,Rio de Janeiro,3304557,Capital,3,...,5.0,2.0,27,2,0,0,0,0,590,3
24293,7,3,2018,2018m03,5,1,Rio de Janeiro,3304557,Capital,2,...,4.0,0.0,8,1,0,0,0,0,235,3
24294,9,3,2018,2018m03,2,1,Rio de Janeiro,3304557,Capital,2,...,14.0,4.0,33,2,0,0,0,0,901,3
24295,10,3,2018,2018m03,2,1,Rio de Janeiro,3304557,Capital,1,...,6.0,0.0,25,1,0,0,0,0,817,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12114,27,10,2010,2010m10,9,2,Rio de Janeiro,3304557,Capital,3,...,3.0,0.0,78,3,0,0,0,0,847,3
12115,28,10,2010,2010m10,9,2,Rio de Janeiro,3304557,Capital,7,...,3.0,0.0,60,4,0,0,0,0,577,3
12116,29,10,2010,2010m10,9,2,Rio de Janeiro,3304557,Capital,8,...,2.0,0.0,38,5,0,0,0,0,715,3
12108,21,10,2010,2010m10,22,1,Rio de Janeiro,3304557,Capital,6,...,11.0,0.0,32,12,0,0,0,0,809,3
36395,44,7,2025,2025m07,3,1,Rio de Janeiro,3304557,Capital,1,...,5.0,4.0,27,2,0,0,0,0,829,2

In [6]:
ocorrencias_capital['oc_veiculos'] = ocorrencias_capital['roubo_veiculo'] + ocorrencias_capital['furto_veiculos']
ocorrencias_capital

C:\Users\Steffani.Oliveira\AppData\Local\Temp\ipykernel_93672\1616238293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocorrencias_capital['oc_veiculos'] = ocorrencias_capital['roubo_veiculo'] + ocorrencias_capital['furto_veiculos']

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase,oc_veiculos
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,21,2,0,0,0,0,578,3,17
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,15,6,0,1,0,0,441,3,18
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,47,2,1,0,0,0,637,3,39
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,26,2,1,0,0,0,473,3,44
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,10,1,3,0,0,0,147,3,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36391,40,7,2025,2025m07,9,2,Rio de Janeiro,3304557,Capital,3,...,0.0,25,2,0,0,0,0,598,2,72
36392,41,7,2025,2025m07,18,2,Rio de Janeiro,3304557,Capital,1,...,0.0,38,8,0,0,0,0,786,2,17
36393,42,7,2025,2025m07,31,2,Rio de Janeiro,3304557,Capital,0,...,1.0,75,2,0,0,0,0,1384,2,41
36394,43,7,2025,2025m07,27,2,Rio de Janeiro,3304557,Capital,0,...,0.0,86,9,1,0,0,0,671,2,23
36395,44,7,2025,2025m07,3,1,Rio de Janeiro,3304557,Capital,1,...,4.0,27,2,0,0,0,0,829,2,51

In [7]:
ocorrencias_veiculos = ocorrencias_capital.groupby('cisp')['oc_veiculos'].sum().reset_index()   
ocorrencias_veiculos

    cisp  oc_veiculos
0      1         2487
1      4         3364
2      5         4297
3      6         6732
4      7         3910
5      9        12636
6     10         9615
7     11          179
8     12         2365
9     13         1466
10    14         3460
11    15         3060
12    16        18043
13    17        11163
14    18        11143
15    19        10111
16    20        13177
17    21        25101
18    22        22756
19    23        15172
20    24        14372
21    25        12602
22    26        10318
23    27        38630
24    28        14334
25    29        21314
26    30        17629
27    31        17424
28    32        13616
29    33        25677
30    34        36695
31    35        33062
32    36         9988
33    37        12866
34    38        25775
35    39        32183
36    40        22188
37    41        10098
38    42         9917
39    43         4378
40    44        17013
41    45           78

In [8]:
oc_veiculos_array = np.array(ocorrencias_veiculos["oc_veiculos"])

In [9]:
mediana = np.median(oc_veiculos_array)
media = np.mean(oc_veiculos_array)
q1 = np.percentile(oc_veiculos_array, 25)
q2 = np.percentile(oc_veiculos_array, 50)
q3 = np.percentile (oc_veiculos_array, 75)
distancia = (media - mediana)/mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia*100,2)} %')

Média: 13818.904761904761
Mediana: 12619.0
Distância: 9.51 %

In [10]:
veiculos_outliers = ocorrencias_veiculos.loc[ocorrencias_veiculos['oc_veiculos'] >= limite_superior]
veiculos_outliers.sort_values(by="oc_veiculos", ascending= False)

    cisp  oc_veiculos
23    27        38630

Atividade prática 2
Na última década, algum município da região metropolitana pode ser considerado outlier sobre as ocorrências de furto de veículos?

In [11]:
ocorrencias1 = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv', sep= ';', encoding= 'latin1')
ocorrencias1

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,Aperibé,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
3,3300225,Areal,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,3300233,Armação dos Búzios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12876,3306008,Três Rios,2025,8,2025m08,Interior,1,0,0,1,...,19,2,55,1,0,0,0,0,514,2
12877,3306107,Valença,2025,8,2025m08,Interior,0,0,0,0,...,6,1,48,1,1,0,0,0,206,2
12878,3306156,Varre-Sai,2025,8,2025m08,Interior,1,0,0,1,...,0,0,7,0,0,0,0,0,33,2
12879,3306206,Vassouras,2025,8,2025m08,Interior,0,0,0,0,...,1,0,27,0,0,0,0,0,121,2
12880,3306305,Volta Redonda,2025,8,2025m08,Interior,6,0,0,6,...,26,2,157,7,0,0,0,0,1456,2

In [ ]:
regiao_metropolitana = []
teste = ocorrencias1.loc

In [12]:
furto_veiculos = ocorrencias1.groupby('fmun')['furto_veiculos'].sum().reset_index()   
furto_veiculos

                  fmun  furto_veiculos
0       Angra dos Reis            1113
1              Aperibé              46
2             Araruama            1468
3                Areal              26
4   Armação dos Búzios             488
..                 ...             ...
87           Três Rios             386
88             Valença             178
89           Varre-Sai              35
90           Vassouras             128
91       Volta Redonda            2364

[92 rows x 2 columns]

In [13]:
furto_veiculos_array = np.array(furto_veiculos["furto_veiculos"])

In [14]:
mediana = np.median(furto_veiculos_array)
media = np.mean(furto_veiculos_array)
q1 = np.percentile(furto_veiculos_array, 25)
q2 = np.percentile(furto_veiculos_array, 50)
q3 = np.percentile (furto_veiculos_array, 75)
distancia = (media - mediana)/mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia*100,2)} %')

Média: 2044.108695652174
Mediana: 224.0
Distância: 812.55 %

In [16]:
furtos_outliers = furto_veiculos.loc[furto_veiculos['furto_veiculos'] >= limite_superior]
furtos_outliers.sort_values(by="furto_veiculos", ascending= False)

                     fmun  furto_veiculos
67         Rio de Janeiro           84641
77            São Gonçalo           13264
24        Duque de Caxias           12438
49            Nova Iguaçu           10875
47                Niterói            8263
81     São João de Meriti            6176
8            Belford Roxo            4621
14  Campos dos Goytacazes            3219