In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

2. Apreens√£o de Menores na Baixada Fluminense

In [3]:
ocorrencias = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding= 'latin1')
ocorrencias

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36761,159,9,2025,2025m09,35,4,Cachoeiras de Macacu,3300803,Interior,0,...,3.0,0.0,25,0,0,0,0,0,173,2
36762,165,9,2025,2025m09,33,5,Mangaratiba,3302601,Interior,0,...,4.0,0.0,30,0,0,0,0,0,226,2
36763,166,9,2025,2025m09,33,5,Angra dos Reis,3300100,Interior,2,...,20.0,1.0,73,15,0,0,0,0,635,2
36764,167,9,2025,2025m09,43,5,Paraty,3303807,Interior,1,...,3.0,1.0,15,4,1,0,0,0,242,2
36765,168,9,2025,2025m09,28,5,Rio Claro,3304409,Interior,0,...,0.0,0.0,7,0,0,0,0,0,64,2

In [4]:
ocorrencias_baixada = ocorrencias.loc[ocorrencias['regiao'] == 'Baixada Fluminense']
ocorrencias_baixada.sort_values(by="regiao")

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
38,48,1,2003,2003m01,24,3,Serop√©dica,3305554,Baixada Fluminense,4,...,NaN,NaN,28,0,1,0,0,0,139,3
24608,50,5,2018,2018m05,24,3,Itagua√≠,3302007,Baixada Fluminense,11,...,4.0,0.0,23,4,0,0,0,0,355,3
24607,48,5,2018,2018m05,24,3,Serop√©dica,3305554,Baixada Fluminense,5,...,14.0,0.0,23,6,0,0,0,0,305,3
24487,67,4,2018,2018m04,34,3,Guapimirim,3301850,Baixada Fluminense,2,...,10.0,0.0,26,0,0,0,0,0,168,3
24486,66,4,2018,2018m04,34,3,Mag√©,3302502,Baixada Fluminense,7,...,14.0,0.0,56,3,0,0,0,0,405,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12274,58,11,2010,2010m11,20,3,Nova Igua√ßu,3303500,Baixada Fluminense,15,...,9.0,0.0,153,17,0,0,0,0,790,3
12273,57,11,2010,2010m11,20,3,Nil√≥polis,3303203,Baixada Fluminense,8,...,1.0,0.0,86,7,0,0,0,0,525,3
12272,56,11,2010,2010m11,20,3,Nova Igua√ßu,3303500,Baixada Fluminense,15,...,1.0,0.0,103,9,1,0,0,0,529,3
12279,63,11,2010,2010m11,24,3,Japeri,3302270,Baixada Fluminense,4,...,1.0,0.0,44,3,0,0,0,0,185,3
36688,67,9,2025,2025m09,34,3,Guapimirim,3301850,Baixada Fluminense,2,...,6.0,0.0,42,1,0,0,0,0,306,2

In [5]:
aaapai = ocorrencias_baixada.groupby('munic')['aaapai'].sum().reset_index()   
aaapai

                 munic  aaapai
0         Belford Roxo  2595.0
1      Duque de Caxias  6239.0
2           Guapimirim   213.0
3              Itagua√≠   882.0
4               Japeri   402.0
5                 Mag√©  1254.0
6      Mag√©;Guapimirim   126.0
7             Mesquita  1219.0
8            Nil√≥polis   695.0
9          Nova Igua√ßu  4106.0
10           Paracambi   367.0
11           Queimados   573.0
12    Queimados;Japeri     0.0
13          Serop√©dica   309.0
14  S√£o Jo√£o de Meriti  2956.0

In [6]:
aaapai_array = np.array(aaapai['aaapai'])

In [15]:
mediana = np.median(aaapai_array)
media = np.mean(aaapai_array)
q1 = np.percentile(aaapai_array, 25)
q2 = np.percentile(aaapai_array, 50)
q3 = np.percentile (aaapai_array, 75)
distancia = (media - mediana)/mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)
variancia = np.var(aaapai_array)
desvio_padrao = np.std(aaapai_array)
coeficiente_variacao = (desvio_padrao/ media)*100
distancia_variancia = (variancia / (media ** 2))*100
print("Vari√¢ncia:", variancia)
print("Desvio Padr√£o:", desvio_padrao)
print("Coeficiente de Varia√ß√£o:", coeficiente_variacao)
print("Dist√¢ncia da vari√¢ncia em rela√ß√£o √† m√©dia:", distancia_variancia)
print(f'M√©dia: {media}')
print(f'Mediana: {mediana}')
print(f'Dist√¢ncia: {round(distancia*100,2)} %')
print(f'Limite Superior: {limite_superior}')
print(f'Limite Inferior: {limite_inferior}')
print(f'Q3: {q3}')

Vari√¢ncia: 2951859.0399999996
Desvio Padr√£o: 1718.0975059640823
Coeficiente de Varia√ß√£o: 117.48478569229228
Dist√¢ncia da vari√¢ncia em rela√ß√£o √† m√©dia: 138.02674869163843
M√©dia: 1462.4
Mediana: 695.0
Dist√¢ncia: 110.42 %
Limite Superior: 4304.25
Limite Inferior: -2041.75
Q3: 1924.5

In [16]:
aaapai_outliers = aaapai.loc[aaapai['aaapai'] >= limite_superior]
aaapai_outliers.sort_values(by="aaapai")

             munic  aaapai
1  Duque de Caxias  6239.0

In [17]:
aaapai_q3 = aaapai.loc[aaapai['aaapai'] >= q3]
aaapai_q3.sort_values(by="aaapai", ascending=False)

                 munic  aaapai
1      Duque de Caxias  6239.0
9          Nova Igua√ßu  4106.0
14  S√£o Jo√£o de Meriti  2956.0
0         Belford Roxo  2595.0

In [18]:
aaapai_outliers.to_csv('aaapai_outliers', index=False)

In [19]:
aaapai_q3.to_csv('aaapai_q3', index=False)

3. Estelionato na Capital

In [12]:
ocorrencias_capital = ocorrencias.loc[ocorrencias['regiao'] == 'Capital']
ocorrencias_capital.sort_values(by="regiao")

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
24443,20,4,2018,2018m04,6,1,Rio de Janeiro,3304557,Capital,1,...,11.0,1.0,47,1,0,0,0,0,655,3
24444,21,4,2018,2018m04,22,1,Rio de Janeiro,3304557,Capital,8,...,74.0,7.0,39,6,0,0,0,0,1287,3
24445,22,4,2018,2018m04,16,1,Rio de Janeiro,3304557,Capital,1,...,11.0,1.0,34,10,1,0,0,0,710,3
24446,23,4,2018,2018m04,3,1,Rio de Janeiro,3304557,Capital,1,...,4.0,0.0,14,0,0,0,0,0,656,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12234,14,11,2010,2010m11,23,1,Rio de Janeiro,3304557,Capital,0,...,13.0,4.0,29,0,0,0,0,0,699,3
12235,15,11,2010,2010m11,23,1,Rio de Janeiro,3304557,Capital,1,...,4.0,0.0,20,3,1,0,0,0,420,3
12236,16,11,2010,2010m11,31,2,Rio de Janeiro,3304557,Capital,1,...,10.0,0.0,64,1,0,0,0,0,973,3
12228,6,11,2010,2010m11,1,1,Rio de Janeiro,3304557,Capital,3,...,9.0,2.0,21,3,0,0,0,0,477,3
36669,44,9,2025,2025m09,3,1,Rio de Janeiro,3304557,Capital,2,...,8.0,0.0,29,4,0,0,0,0,799,2

In [13]:
estelionato = ocorrencias_capital.groupby('cisp')['estelionato'].sum().reset_index()   
estelionato

    cisp  estelionato
0      1        27432
1      4         6968
2      5        21583
3      6         7282
4      7         2219
5      9        17249
6     10        19373
7     11         1315
8     12        21393
9     13        11585
10    14        18779
11    15        10535
12    16        41470
13    17         7075
14    18        10222
15    19        20496
16    20        13630
17    21        18146
18    22        13405
19    23        14398
20    24         8727
21    25         7613
22    26         8470
23    27        14014
24    28        10752
25    29        17989
26    30         9021
27    31         6543
28    32        33040
29    33        15490
30    34        23243
31    35        38596
32    36        15418
33    37        15546
34    38        10251
35    39         8274
36    40         6817
37    41        13093
38    42        19579
39    43         6178
40    44         6749
41    45           98

In [14]:
estelionato_array = np.array(estelionato['estelionato'])

In [20]:
mediana_e = np.median(estelionato_array)
media_e = np.mean(estelionato_array)
q1_e = np.percentile(estelionato_array, 25)
q2_e = np.percentile(estelionato_array, 50)
q3_e = np.percentile (estelionato_array, 75)
distancia_e = (media_e - mediana_e)/mediana_e
iqr_e = q3_e - q1_e
limite_superior_e = q3_e + (1.5 * iqr_e)
limite_inferior_e = q1_e - (1.5 * iqr_e)
variancia_e = np.var(estelionato_array)
desvio_padrao_e = np.std(estelionato_array)
coeficiente_variacao_e = (desvio_padrao_e/ media_e)*100
distancia_variancia_e = (variancia_e / (media_e ** 2))*100
print("Vari√¢ncia:", variancia_e)
print("Desvio Padr√£o:", desvio_padrao_e)
print("Coeficiente de Varia√ß√£o:", coeficiente_variacao_e)
print("Dist√¢ncia da vari√¢ncia em rela√ß√£o √† m√©dia:", distancia_variancia_e)
print(f'M√©dia: {media_e}')
print(f'Mediana: {mediana_e}')
print(f'Dist√¢ncia: {round(distancia_e*100,2)} %')
print(f'Limite Superior: {limite_superior_e}')
print(f'Limite Inferior: {limite_inferior_e}')
print(f'Q3: {q3_e}')

Vari√¢ncia: 79603709.52154195
Desvio Padr√£o: 8922.091095788137
Coeficiente de Varia√ß√£o: 62.44880911499956
Dist√¢ncia da vari√¢ncia em rela√ß√£o √† m√©dia: 38.99853759881652
M√©dia: 14287.047619047618
Mediana: 13249.0
Dist√¢ncia: 7.83 %
Limite Superior: 34884.5
Limite Inferior: -8485.5
Q3: 18620.75

In [21]:
estelionato_q3 = estelionato.loc[estelionato['estelionato'] >= q3_e]
estelionato_q3.sort_values(by="estelionato", ascending=False)

    cisp  estelionato
12    16        41470
31    35        38596
28    32        33040
0      1        27432
30    34        23243
2      5        21583
8     12        21393
15    19        20496
38    42        19579
6     10        19373
10    14        18779

In [22]:
estelionato_q3.to_csv('estelionato_q3', index=False)

4. Crimes Violentos na Regi√£o dos Lagos

In [23]:
crimes = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv', sep= ';', encoding= 'latin1')
crimes

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,Aperib√©,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
3,3300225,Areal,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,3300233,Arma√ß√£o dos B√∫zios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12968,3306008,Tr√™s Rios,2025,9,2025m09,Interior,3,0,0,3,...,14,1,66,2,0,0,0,0,538,2
12969,3306107,Valen√ßa,2025,9,2025m09,Interior,0,0,0,0,...,8,1,46,0,0,0,0,0,241,2
12970,3306156,Varre-Sai,2025,9,2025m09,Interior,0,0,0,0,...,0,0,6,0,0,0,0,0,23,2
12971,3306206,Vassouras,2025,9,2025m09,Interior,0,0,0,0,...,3,0,25,0,0,0,0,0,137,2
12972,3306305,Volta Redonda,2025,9,2025m09,Interior,5,0,0,5,...,11,3,157,4,0,0,0,0,1433,2

In [24]:
regiao_lagos = ['Rio das Ostras', 'Arma√ß√£o dos B√∫zios', 'Arraial do Cabo', 'Cabo Frio', 'Iguaba Grande', 'S√£o Pedro da Aldeia', 'Casemiro de Abreu',
'Silva Jardim', 'Araruama', 'Saquarema']
crimes_violentos = crimes.loc[(crimes['fmun'].isin(regiao_lagos))] 
crimes_violentos

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
4,3300233,Arma√ß√£o dos B√∫zios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
5,3300258,Arraial do Cabo,2014,1,2014m01,Interior,0,0,0,0,...,1,0,26,0,0,0,0,0,176,3
11,3300704,Cabo Frio,2014,1,2014m01,Interior,9,0,0,9,...,8,0,121,7,3,0,0,0,1105,3
27,3301876,Iguaba Grande,2014,1,2014m01,Interior,0,0,0,0,...,1,0,19,0,0,0,0,0,126,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12908,3301876,Iguaba Grande,2025,9,2025m09,Interior,0,0,0,0,...,2,0,21,1,0,0,0,0,118,2
12947,3304524,Rio das Ostras,2025,9,2025m09,Interior,2,0,0,2,...,14,2,73,4,0,0,0,0,666,2
12958,3305208,S√£o Pedro da Aldeia,2025,9,2025m09,Interior,2,0,0,2,...,13,0,39,1,0,0,0,0,312,2
12961,3305505,Saquarema,2025,9,2025m09,Interior,5,0,0,5,...,9,0,57,1,0,0,0,0,632,2
12963,3305604,Silva Jardim,2025,9,2025m09,Interior,4,0,0,4,...,4,0,11,0,1,0,0,0,79,2

In [25]:
crimes_violentos['crimes_violentos'] = crimes_violentos['hom_doloso'] + crimes_violentos['lesao_corp_morte'] + crimes_violentos['latrocinio'] + crimes_violentos['cvli'] + crimes_violentos['hom_por_interv_policial'] + crimes_violentos['letalidade_violenta'] + crimes_violentos['tentat_hom'] + crimes_violentos['lesao_corp_dolosa'] + crimes_violentos['estupro']
crimes_violentos

C:\Users\Steffani.Oliveira\AppData\Local\Temp\ipykernel_22152\1088963296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimes_violentos['crimes_violentos'] = crimes_violentos['hom_doloso'] + crimes_violentos['lesao_corp_morte'] + crimes_violentos['latrocinio'] + crimes_violentos['cvli'] + crimes_violentos['hom_por_interv_policial'] + crimes_violentos['letalidade_violenta'] + crimes_violentos['tentat_hom'] + crimes_violentos['lesao_corp_dolosa'] + crimes_violentos['estupro']

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase,crimes_violentos
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,0,91,10,1,0,0,0,480,3,88
4,3300233,Arma√ß√£o dos B√∫zios,2014,1,2014m01,Interior,2,0,0,2,...,2,46,0,0,0,0,0,309,3,56
5,3300258,Arraial do Cabo,2014,1,2014m01,Interior,0,0,0,0,...,0,26,0,0,0,0,0,176,3,34
11,3300704,Cabo Frio,2014,1,2014m01,Interior,9,0,0,9,...,0,121,7,3,0,0,0,1105,3,167
27,3301876,Iguaba Grande,2014,1,2014m01,Interior,0,0,0,0,...,0,19,0,0,0,0,0,126,3,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12908,3301876,Iguaba Grande,2025,9,2025m09,Interior,0,0,0,0,...,0,21,1,0,0,0,0,118,2,11
12947,3304524,Rio das Ostras,2025,9,2025m09,Interior,2,0,0,2,...,2,73,4,0,0,0,0,666,2,59
12958,3305208,S√£o Pedro da Aldeia,2025,9,2025m09,Interior,2,0,0,2,...,0,39,1,0,0,0,0,312,2,38
12961,3305505,Saquarema,2025,9,2025m09,Interior,5,0,0,5,...,0,57,1,0,0,0,0,632,2,67
12963,3305604,Silva Jardim,2025,9,2025m09,Interior,4,0,0,4,...,0,11,0,1,0,0,0,79,2,18

In [26]:
crimes_v = crimes_violentos.groupby('fmun')['crimes_violentos'].sum().reset_index()   
crimes_v

                  fmun  crimes_violentos
0             Araruama              9347
1   Arma√ß√£o dos B√∫zios              3702
2      Arraial do Cabo              2858
3            Cabo Frio             16350
4        Iguaba Grande              2017
5       Rio das Ostras             10918
6            Saquarema              7071
7         Silva Jardim              1678
8  S√£o Pedro da Aldeia              6278

In [27]:
crimes_violentos_array = np.array(crimes_v['crimes_violentos'])

In [29]:
mediana_c = np.median(crimes_violentos_array)
media_c = np.mean(crimes_violentos_array)
q1_c = np.percentile(crimes_violentos_array, 25)
q2_c = np.percentile(crimes_violentos_array, 50)
q3_c = np.percentile (crimes_violentos_array, 75)
distancia_c = (media_c - mediana_c)/mediana_c
iqr_c = q3_c - q1_c
limite_superior_c = q3_c + (1.5 * iqr_c)
limite_inferior_c = q1_c - (1.5 * iqr_c)
variancia_c = np.var(crimes_violentos_array)
desvio_padrao_c = np.std(crimes_violentos_array)
coeficiente_variacao_c = (desvio_padrao_c/ media_c)*100
distancia_variancia_c = (variancia_c / (media_c ** 2))*100
print("Vari√¢ncia:", variancia_c)
print("Desvio Padr√£o:", desvio_padrao_c)
print("Coeficiente de Varia√ß√£o:", coeficiente_variacao_c)
print("Dist√¢ncia da vari√¢ncia em rela√ß√£o √† m√©dia:", distancia_variancia_c)
print(f'M√©dia: {media_c}')
print(f'Mediana: {mediana_c}')
print(f'Dist√¢ncia: {round(distancia_c*100,2)} %')
print(f'Limite Superior: {limite_superior_c}')
print(f'Limite Inferior: {limite_inferior_c}')
print(f'Q3: {q3_c}')

Vari√¢ncia: 21015063.333333332
Desvio Padr√£o: 4584.218944742204
Coeficiente de Varia√ß√£o: 68.51321095116133
Dist√¢ncia da vari√¢ncia em rela√ß√£o √† m√©dia: 46.940600748383325
M√©dia: 6691.0
Mediana: 6278.0
Dist√¢ncia: 6.58 %
Limite Superior: 19080.5
Limite Inferior: -6875.5
Q3: 9347.0

In [30]:
crimes_violentos_outliers = crimes_v.loc[crimes_v['crimes_violentos'] >= limite_superior]
crimes_violentos_outliers.sort_values(by="crimes_violentos", ascending=False)

                  fmun  crimes_violentos
3            Cabo Frio             16350
5       Rio das Ostras             10918
0             Araruama              9347
6            Saquarema              7071
8  S√£o Pedro da Aldeia              6278

In [31]:
crimes_violentos_outliers.to_csv('crimes_violentos', index=False)