In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

2. Apreens√£o de Menores na Baixada Fluminense

In [2]:
ocorrencias = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding= 'latin1')
ocorrencias

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [3]:
ocorrencias_baixada = ocorrencias.loc[ocorrencias['regiao'] == 'Baixada Fluminense']
ocorrencias_baixada.sort_values(by="regiao")

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
38,48,1,2003,2003m01,24,3,Serop√©dica,3305554,Baixada Fluminense,4,...,NaN,NaN,28,0,1,0,0,0,139,3
24477,57,4,2018,2018m04,20,3,Nil√≥polis,3303203,Baixada Fluminense,1,...,4.0,0.0,69,4,2,0,0,0,654,3
24476,56,4,2018,2018m04,20,3,Nova Igua√ßu,3303500,Baixada Fluminense,15,...,2.0,1.0,78,7,0,0,0,0,800,3
24475,55,4,2018,2018m04,24,3,Queimados,3304144,Baixada Fluminense,8,...,24.0,2.0,47,3,1,0,0,0,406,3
24474,54,4,2018,2018m04,39,3,Belford Roxo,3300456,Baixada Fluminense,17,...,21.0,1.0,85,9,0,0,0,0,1431,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12268,52,11,2010,2010m11,20,3,Nova Igua√ßu,3303500,Baixada Fluminense,2,...,16.0,0.0,109,4,0,0,0,0,911,3
12267,51,11,2010,2010m11,24,3,Paracambi,3303609,Baixada Fluminense,0,...,3.0,0.0,25,1,0,0,0,0,104,3
12266,50,11,2010,2010m11,24,3,Itagua√≠,3302007,Baixada Fluminense,6,...,8.0,1.0,54,2,0,0,0,0,400,3
12273,57,11,2010,2010m11,20,3,Nil√≥polis,3303203,Baixada Fluminense,8,...,1.0,0.0,86,7,0,0,0,0,525,3
36551,67,8,2025,2025m08,34,3,Guapimirim,3301850,Baixada Fluminense,1,...,10.0,0.0,26,1,0,0,0,0,266,2

In [13]:
aaapai = ocorrencias_baixada.groupby('munic')['aaapai'].sum().reset_index()   
aaapai

                 munic  aaapai
0         Belford Roxo  2584.0
1      Duque de Caxias  6233.0
2           Guapimirim   213.0
3              Itagua√≠   881.0
4               Japeri   402.0
5                 Mag√©  1251.0
6      Mag√©;Guapimirim   126.0
7             Mesquita  1218.0
8            Nil√≥polis   693.0
9          Nova Igua√ßu  4098.0
10           Paracambi   366.0
11           Queimados   573.0
12    Queimados;Japeri     0.0
13          Serop√©dica   309.0
14  S√£o Jo√£o de Meriti  2953.0

In [14]:
aaapai_array = np.array(aaapai['aaapai'])

In [17]:
mediana = np.median(aaapai_array)
media = np.mean(aaapai_array)
q1 = np.percentile(aaapai_array, 25)
q2 = np.percentile(aaapai_array, 50)
q3 = np.percentile (aaapai_array, 75)
distancia = (media - mediana)/mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)
print(f'M√©dia: {media}')
print(f'Mediana: {mediana}')
print(f'Dist√¢ncia: {round(distancia*100,2)} %')
print(f'Limite Superior: {limite_superior}')
print(f'Limite Inferior: {limite_inferior}')
print(f'Q3: {q3}')

M√©dia: 1460.0
Mediana: 693.0
Dist√¢ncia: 110.68 %
Limite Superior: 4287.5
Limite Inferior: -2032.5
Q3: 1917.5

In [16]:
aaapai_outliers = aaapai.loc[aaapai['aaapai'] >= limite_superior]
aaapai_outliers.sort_values(by="aaapai")

             munic  aaapai
1  Duque de Caxias  6233.0

In [34]:
aaapai_q3 = aaapai.loc[aaapai['aaapai'] >= q3]
aaapai_q3.sort_values(by="aaapai", ascending=False)

                 munic  aaapai
1      Duque de Caxias  6233.0
9          Nova Igua√ßu  4098.0
14  S√£o Jo√£o de Meriti  2953.0
0         Belford Roxo  2584.0

In [22]:
aaapai_outliers.to_csv('aaapai_outliers', index=False)

In [23]:
aaapai_q3.to_csv('aaapai_q3', index=False)

3. Estelionato na Capital

In [24]:
ocorrencias_capital = ocorrencias.loc[ocorrencias['regiao'] == 'Capital']
ocorrencias_capital.sort_values(by="regiao")

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
24320,35,3,2018,2018m03,40,2,Rio de Janeiro,3304557,Capital,7,...,33.0,2.0,167,23,1,0,0,0,1566,3
24321,36,3,2018,2018m03,27,2,Rio de Janeiro,3304557,Capital,8,...,16.0,0.0,104,16,1,0,0,0,896,3
24322,37,3,2018,2018m03,17,1,Rio de Janeiro,3304557,Capital,7,...,9.0,0.0,44,11,0,0,0,0,673,3
24323,38,3,2018,2018m03,16,1,Rio de Janeiro,3304557,Capital,5,...,3.0,2.0,60,8,0,0,0,0,867,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12128,41,10,2010,2010m10,18,2,Rio de Janeiro,3304557,Capital,1,...,5.0,0.0,70,0,0,0,0,0,607,3
12129,42,10,2010,2010m10,31,2,Rio de Janeiro,3304557,Capital,2,...,5.0,0.0,69,2,0,0,0,0,461,3
12130,43,10,2010,2010m10,39,2,Rio de Janeiro,3304557,Capital,2,...,5.0,0.0,61,4,0,0,0,0,314,3
12122,35,10,2010,2010m10,39,2,Rio de Janeiro,3304557,Capital,13,...,11.0,1.0,317,21,0,0,0,0,1902,3
36532,44,8,2025,2025m08,3,1,Rio de Janeiro,3304557,Capital,1,...,13.0,0.0,43,5,1,0,0,0,808,2

In [29]:
estelionato = ocorrencias_capital.groupby('cisp')['estelionato'].sum().reset_index()   
estelionato

    cisp  estelionato
0      1        27293
1      4         6918
2      5        21417
3      6         7226
4      7         2182
5      9        17092
6     10        19249
7     11         1293
8     12        21174
9     13        11509
10    14        18586
11    15        10409
12    16        41003
13    17         6998
14    18        10130
15    19        20340
16    20        13490
17    21        17909
18    22        13293
19    23        14311
20    24         8637
21    25         7523
22    26         8369
23    27        13830
24    28        10632
25    29        17796
26    30         8875
27    31         6443
28    32        32570
29    33        15389
30    34        23101
31    35        38234
32    36        15234
33    37        15427
34    38        10100
35    39         8129
36    40         6726
37    41        12936
38    42        19272
39    43         6065
40    44         6661
41    45           98

In [30]:
estelionato_array = np.array(estelionato['estelionato'])

In [31]:
mediana_e = np.median(estelionato_array)
media_e = np.mean(estelionato_array)
q1_e = np.percentile(estelionato_array, 25)
q2_e = np.percentile(estelionato_array, 50)
q3_e = np.percentile (estelionato_array, 75)
distancia_e = (media_e - mediana_e)/mediana_e
iqr_e = q3_e - q1_e
limite_superior_e = q3_e + (1.5 * iqr_e)
limite_inferior_e = q1_e - (1.5 * iqr_e)
print(f'M√©dia: {media_e}')
print(f'Mediana: {mediana_e}')
print(f'Dist√¢ncia: {round(distancia_e*100,2)} %')
print(f'Limite Superior: {limite_superior_e}')
print(f'Limite Inferior: {limite_inferior_e}')
print(f'Q3: {q3_e}')

M√©dia: 14139.738095238095
Mediana: 13114.5
Dist√¢ncia: 7.82 %
Limite Superior: 34530.125
Limite Inferior: -8438.875
Q3: 18416.75

In [33]:
estelionato_q3 = estelionato.loc[estelionato['estelionato'] >= q3_e]
estelionato_q3.sort_values(by="estelionato", ascending=False)

    cisp  estelionato
12    16        41003
31    35        38234
28    32        32570
0      1        27293
30    34        23101
2      5        21417
8     12        21174
15    19        20340
38    42        19272
6     10        19249
10    14        18586

In [35]:
estelionato_q3.to_csv('estelionato_q3', index=False)

4. Crimes Violentos na Regi√£o dos Lagos

In [36]:
crimes = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv', sep= ';', encoding= 'latin1')
crimes

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,Aperib√©,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
3,3300225,Areal,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,3300233,Arma√ß√£o dos B√∫zios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12876,3306008,Tr√™s Rios,2025,8,2025m08,Interior,1,0,0,1,...,19,2,55,1,0,0,0,0,514,2
12877,3306107,Valen√ßa,2025,8,2025m08,Interior,0,0,0,0,...,6,1,48,1,1,0,0,0,206,2
12878,3306156,Varre-Sai,2025,8,2025m08,Interior,1,0,0,1,...,0,0,7,0,0,0,0,0,33,2
12879,3306206,Vassouras,2025,8,2025m08,Interior,0,0,0,0,...,1,0,27,0,0,0,0,0,121,2
12880,3306305,Volta Redonda,2025,8,2025m08,Interior,6,0,0,6,...,26,2,157,7,0,0,0,0,1456,2

In [ ]:
regiao_lagos = ['Rio das Ostras', 'Arma√ß√£o dos B√∫zios', 'Arraial do Cabo', 'Cabo Frio', 'Iguaba Grande', 'S√£o Pedro da Aldeia', 'Casemiro de Abreu',
'Silva Jardim', 'Araruama', 'Saquarema']
crimes_violentos = crimes.loc[(crimes['fmun'].isin(regiao_lagos))] 
crimes_violentos

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
4,3300233,Arma√ß√£o dos B√∫zios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
5,3300258,Arraial do Cabo,2014,1,2014m01,Interior,0,0,0,0,...,1,0,26,0,0,0,0,0,176,3
11,3300704,Cabo Frio,2014,1,2014m01,Interior,9,0,0,9,...,8,0,121,7,3,0,0,0,1105,3
27,3301876,Iguaba Grande,2014,1,2014m01,Interior,0,0,0,0,...,1,0,19,0,0,0,0,0,126,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12816,3301876,Iguaba Grande,2025,8,2025m08,Interior,0,0,0,0,...,3,0,18,1,0,0,0,0,157,2
12855,3304524,Rio das Ostras,2025,8,2025m08,Interior,1,0,0,1,...,13,3,50,8,0,0,0,0,724,2
12866,3305208,S√£o Pedro da Aldeia,2025,8,2025m08,Interior,3,0,0,3,...,10,1,33,1,0,0,0,0,321,2
12869,3305505,Saquarema,2025,8,2025m08,Interior,3,0,0,3,...,15,0,80,2,0,0,0,0,858,2
12871,3305604,Silva Jardim,2025,8,2025m08,Interior,0,0,0,0,...,2,0,13,0,0,0,0,0,68,2

In [48]:
crimes_violentos['crimes_violentos'] = crimes_violentos['hom_doloso'] + crimes_violentos['lesao_corp_morte'] + crimes_violentos['latrocinio'] + crimes_violentos['cvli'] + crimes_violentos['hom_por_interv_policial'] + crimes_violentos['letalidade_violenta'] + crimes_violentos['tentat_hom'] + crimes_violentos['lesao_corp_dolosa'] + crimes_violentos['estupro']
crimes_violentos

C:\Users\Steffani.Oliveira\AppData\Local\Temp\ipykernel_12592\1088963296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimes_violentos['crimes_violentos'] = crimes_violentos['hom_doloso'] + crimes_violentos['lesao_corp_morte'] + crimes_violentos['latrocinio'] + crimes_violentos['cvli'] + crimes_violentos['hom_por_interv_policial'] + crimes_violentos['letalidade_violenta'] + crimes_violentos['tentat_hom'] + crimes_violentos['lesao_corp_dolosa'] + crimes_violentos['estupro']

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase,crimes_violentos
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,0,91,10,1,0,0,0,480,3,88
4,3300233,Arma√ß√£o dos B√∫zios,2014,1,2014m01,Interior,2,0,0,2,...,2,46,0,0,0,0,0,309,3,56
5,3300258,Arraial do Cabo,2014,1,2014m01,Interior,0,0,0,0,...,0,26,0,0,0,0,0,176,3,34
11,3300704,Cabo Frio,2014,1,2014m01,Interior,9,0,0,9,...,0,121,7,3,0,0,0,1105,3,167
27,3301876,Iguaba Grande,2014,1,2014m01,Interior,0,0,0,0,...,0,19,0,0,0,0,0,126,3,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12816,3301876,Iguaba Grande,2025,8,2025m08,Interior,0,0,0,0,...,0,18,1,0,0,0,0,157,2,18
12855,3304524,Rio das Ostras,2025,8,2025m08,Interior,1,0,0,1,...,3,50,8,0,0,0,0,724,2,47
12866,3305208,S√£o Pedro da Aldeia,2025,8,2025m08,Interior,3,0,0,3,...,1,33,1,0,0,0,0,321,2,39
12869,3305505,Saquarema,2025,8,2025m08,Interior,3,0,0,3,...,0,80,2,0,0,0,0,858,2,54
12871,3305604,Silva Jardim,2025,8,2025m08,Interior,0,0,0,0,...,0,13,0,0,0,0,0,68,2,15

In [49]:
crimes_v = crimes_violentos.groupby('fmun')['crimes_violentos'].sum().reset_index()   
crimes_v

                  fmun  crimes_violentos
0             Araruama              9284
1   Arma√ß√£o dos B√∫zios              3676
2      Arraial do Cabo              2845
3            Cabo Frio             16239
4        Iguaba Grande              2006
5       Rio das Ostras             10859
6            Saquarema              7004
7         Silva Jardim              1660
8  S√£o Pedro da Aldeia              6240

In [50]:
crimes_violentos_array = np.array(crimes_v['crimes_violentos'])

In [51]:
mediana_c = np.median(crimes_violentos_array)
media_c = np.mean(crimes_violentos_array)
q1_c = np.percentile(crimes_violentos_array, 25)
q2_c = np.percentile(crimes_violentos_array, 50)
q3_c = np.percentile (crimes_violentos_array, 75)
distancia_c = (media_c - mediana_c)/mediana_c
iqr_c = q3_c - q1_c
limite_superior_c = q3_c + (1.5 * iqr_c)
limite_inferior_c = q1_c - (1.5 * iqr_c)
print(f'M√©dia: {media_c}')
print(f'Mediana: {mediana_c}')
print(f'Dist√¢ncia: {round(distancia_c*100,2)} %')
print(f'Limite Superior: {limite_superior_c}')
print(f'Limite Inferior: {limite_inferior_c}')
print(f'Q3: {q3_c}')

M√©dia: 6645.888888888889
Mediana: 6240.0
Dist√¢ncia: 6.5 %
Limite Superior: 18942.5
Limite Inferior: -6813.5
Q3: 9284.0

In [54]:
crimes_violentos_outliers = crimes_v.loc[crimes_v['crimes_violentos'] >= limite_superior]
crimes_violentos_outliers.sort_values(by="crimes_violentos", ascending=False)

                  fmun  crimes_violentos
3            Cabo Frio             16239
5       Rio das Ostras             10859
0             Araruama              9284
6            Saquarema              7004
8  S√£o Pedro da Aldeia              6240

In [55]:
crimes_violentos_outliers.to_csv('crimes_violentos', index=False)